# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [32]:
a=[1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [33]:
type(a)
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [34]:
a.insert(4,0)
a.insert(5,0)
a

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [35]:
a.reverse()
a

[20, 10, 9, 8, 7, 6, 5, 0, 0, 4, 3, 2, 1]

5. Remove the last two items from the list

In [37]:
a.pop()
a.pop()
a

[20, 10, 9, 8, 7, 6, 5, 0, 0, 4]

6. Invert the order of the list

In [38]:
a.reverse()
a

[4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [43]:
len(a)

10

8. Give the minimum, maximum and the sum of all the items in the list

In [45]:
min(a)

0

In [46]:
max(a)

20

In [47]:
sum(a)

69

9. What will happen if you multiply the list by 2?

In [48]:
b=a*2
b

[4, 0, 0, 5, 6, 7, 8, 9, 10, 20, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

In [ ]:
# the list appears twice

10. Can you divide the list by 3?

In [ ]:
#no

# Tupples
 
1. Create a tupple with three characters and four numbers

In [62]:
t=(1,2,3,4,'a','b','c')
t

(1, 2, 3, 4, 'a', 'b', 'c')

In [55]:
type(t)

tuple

2. Append two booleans (false, true) to the tupple

In [66]:
t1=t,'false','true'
t1

((1, 2, 3, 4, 'a', 'b', 'c'), 'false', 'true')

3. Retrieve the third to sixth items from the tupple

In [69]:
t1[0:2]

((1, 2, 3, 4, 'a', 'b', 'c'), 'false')

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [ ]:
#??

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [78]:
#set={"Shallow", "copy","is","a"}
set1={"Shallow","copy","is","a","bit-wise","copy","of","an","object.","A","new","object","is","created","that","has","an","exact","copy","of","the","values","in","the","original","object"}
set1

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [90]:
# it is oreder by ASCI,
a="Shallow","copy","is","a","bit-wise","copy","of","an","object.","A","new","object","is","created","that","has","an","exact","copy","of","the","values","in","the","original","object"
set2={a}
set2

{('Shallow',
  'copy',
  'is',
  'a',
  'bit-wise',
  'copy',
  'of',
  'an',
  'object.',
  'A',
  'new',
  'object',
  'is',
  'created',
  'that',
  'has',
  'an',
  'exact',
  'copy',
  'of',
  'the',
  'values',
  'in',
  'the',
  'original',
  'object')}

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [102]:
a = {1020:'Harry Smith Sales Manager 030-223.65.44',2201:'Margaret Holsum Sales Representative 030-223.64.12',3320:'Lasly Howard Human Resources 030-223.83.33',8111:'Larry Johnson Project Manager 030-224.22.00',2733:'Hellen Young Customer Service 030-223.03.20'}
a

{1020: 'Harry Smith Sales Manager 030-223.65.44',
 2201: 'Margaret Holsum Sales Representative 030-223.64.12',
 3320: 'Lasly Howard Human Resources 030-223.83.33',
 8111: 'Larry Johnson Project Manager 030-224.22.00',
 2733: 'Hellen Young Customer Service 030-223.03.20'}

1. Get all the keys of the dictionary

In [103]:
a.keys()

dict_keys([1020, 2201, 3320, 8111, 2733])

2. Get all the values of the dictionary

In [104]:
a.values()

dict_values(['Harry Smith Sales Manager 030-223.65.44', 'Margaret Holsum Sales Representative 030-223.64.12', 'Lasly Howard Human Resources 030-223.83.33', 'Larry Johnson Project Manager 030-224.22.00', 'Hellen Young Customer Service 030-223.03.20'])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [106]:
a[3320]

'Lasly Howard Human Resources 030-223.83.33'

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [157]:

for y in range(1,100):
    if y>100:
        break 
    if (y%2==0):    # and (y<>2)):
        print(y,"is not a prime number")
    elif(y % 3)==0:  # and (y<>3)):
        print(y,"is not a prime number")
    elif(y % 5)==0:  # and (y<>5)):
        print(y,"is not a prime number")    
    else:
        print(y,"is a prime number")

1 is a prime number
2 is not a prime number
3 is not a prime number
4 is not a prime number
5 is not a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is not a prime number
16 is not a prime number
17 is a prime number
18 is not a prime number
19 is a prime number
20 is not a prime number
21 is not a prime number
22 is not a prime number
23 is a prime number
24 is not a prime number
25 is not a prime number
26 is not a prime number
27 is not a prime number
28 is not a prime number
29 is a prime number
30 is not a prime number
31 is a prime number
32 is not a prime number
33 is not a prime number
34 is not a prime number
35 is not a prime number
36 is not a prime number
37 is a prime number
38 is not a prime number
39 is not a prime number
40 is not a prime number
41 is a prime number
42 is not a prime number
43 is a prime number
44 is not a prime number
45 is not a prime number
46 is not a prime number
47 is a prime number
48 is not a prime number
49 is a prime number
50 is not a prime number
51 is not a prime number
52 is not a prime number
53 is a prime number
54 is not a prime number
55 is not a prime number
56 is not a prime number
57 is not a prime number
58 is not a prime number
59 is a prime number
60 is not a prime number
61 is a prime number
62 is not a prime number
63 is not a prime number
64 is not a prime number
65 is not a prime number
66 is not a prime number
67 is a prime number
68 is not a prime number
69 is not a prime number
70 is not a prime number
71 is a prime number
72 is not a prime number
73 is a prime number
74 is not a prime number
75 is not a prime number
76 is not a prime number
77 is a prime number
78 is not a prime number
79 is a prime number
80 is not a prime number
81 is not a prime number
82 is not a prime number
83 is a prime number
84 is not a prime number
85 is not a prime number
86 is not a prime number
87 is not a prime number
88 is not a prime number
89 is a prime number
90 is not a prime number
91 is a prime number
92 is not a prime number
93 is not a prime number
94 is not a prime number
95 is not a prime number
96 is not a prime number
97 is a prime number
98 is not a prime number
99 is not a prime number

2. Write a different solution to the problem in the last question, but using while.. in place of for..